section {
  min-height: 100vh;
}

.o-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 95rem;
}

.o-title {
  margin-top: 100px;
  perspective: 600px;
  -webkit-perspective: 600px;
}

.o-title_line {
  display: block;
  opacity: 0;
  /* transform-origin: center top; */
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition: opacity 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
}

.o-title.is-inview .o-title_line {
  transform: none;
  opacity: 1;
}

.o-title.is-inview .o-title_line:first-child {
  transition-delay: 0.6s;
  margin-bottom: 0px;
}

.o-title.is-inview .o-title_line:nth-child(2) {
  transition-delay: 0.5s;
  margin-bottom: 0px;
}

.o-title.is-inview .o-title_line:nth-child(3) {
  transition-delay: 0.6s;
}

.o-title.is-inview .o-title_line:nth-child(4) {
  transition-delay: 0.7s;
}

.o-title_line span {
  display: inline-block;
  min-width: 0.05em;
  font-size: 5vw;
  font-weight: lighter;
  color: #444133;
}
@media (max-width: 1024px) {
  .o-title_line span {
    font-size: 4.5vw;
  }
}
@media (max-width: 766px) {
  .o-title_line span {
    font-size: 7vw;
  }
}

/* //////////////////////////////////////////////////////////// */
.bloccc {
  display: flex;
  margin-top: 0px;
}

.o-container-img {
  margin-right: auto;
  margin-left: auto;
}

.o-img_line img {
  width: 500px;
}
@media (max-width: 1024px) {
  .o-img_line img {
    width: 240px;
  }
}
@media (max-width: 766px) {
  .o-img_line img {
    width: 120px;
  }
}

/* MANIPULER LES PERSPECTIVES POUR DONNER DES MOUVEMENTS D'APPARITIONS DIFFERENTS */
.o-img {
  margin: 0;
  padding: 20px;
  perspective: -600px;
  -webkit-perspective: -600px;
}

.o-img_line {
  display: block;
  opacity: 0;
  /* transform-origin: center top; */
  transform-style: preserve-3d;
  transform: translateY(100%) rotateY(-90deg);
  transition: opacity 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
}

.o-img.is-inview .o-img_line {
  transform: none;
  opacity: 1;
}

.o-img .o-img_line:first-child {
  transition-delay: 0.6s;
}

.o-img_line span {
  display: inline-block;
}

.o-container-img_2 {
  margin-right: auto;
  margin-left: auto;
}

.o-img_line_2 img {
  width: 300px;
}
@media (max-width: 1024px) {
  .o-img_line_2 img {
    width: 280px;
  }
}
@media (max-width: 766px) {
  .o-img_line_2 img {
    width: 120px;
  }
}

/* MANIPULER LES PERSPECTIVES POUR DONNER DES MOUVEMENTS D'APPARITIONS DIFFERENTS */
.o-img_2 {
  margin: 0;
  padding: 20px;
  perspective: -600px;
  -webkit-perspective: -600px;
}

.o-img_line_2 {
  display: block;
  opacity: 0;
  /* transform-origin: center top; */
  transform-style: preserve-3d;
  transform: translateY(100%) rotateY(-90deg);
  transition: opacity 1.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
}

.o-img_2.is-inview .o-img_line_2 {
  transform: none;
  opacity: 1;
}

.o-img_2.is-inview .o-img_line_2:first-child {
  transition-delay: 0.6s;
}

.o-img_2.is-inview .o-img_line_2:first-child(2) {
  transition-delay: 0.6s;
}

.o-img_line_2 span {
  display: inline-block;
}

.s_img {
  position: relative;
  overflow: hidden;
  max-height: 600px;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .s_img {
    max-width: 700px;
  }
}
@media (max-width: 766px) {
  .s_img {
    max-height: 400px;
    max-width: 350px;
    text-align: center;
  }
}

.wrap {
  max-height: 600px;
  width: 100%;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.content-inner {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.zone {
  opacity: 1;
  width: 100%;
  overflow: hidden;
}

.txt__title {
  font-size: 6vw;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .txt__title {
    text-align: center;
  }
}
@media (max-width: 766px) {
  .txt__title {
    font-size: 7vw;
    text-align: center;
  }
}

.txt__paragraph {
  font-size: 2vw;
  margin-top: 10px;
  margin-bottom: 70px;
  text-align: center;
}
@media (max-width: 1024px) {
  .txt__paragraph {
    font-size: 3vw;
    text-align: center;
  }
}
@media (max-width: 766px) {
  .txt__paragraph {
    font-size: 3.5vw;
    text-align: center;
  }
}